<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container" style="margin-top: 2rem;">
  <h4>Are you sure want to delete {{ object_hapus.Nama_Mata_Kuliah }} ?</h4>
  </div>

  <div class="container" style="margin-top: 2rem;">
  <form action="." method="POST">{% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Hapus" style="margin-right: 1rem;"/> 
    <a href="../" class="btn btn-primary">Cancel</a>
  </form>
  </div>


</body>
</html>