{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container" style="margin-top: 30vh;">
        <h1 style="color: #f5ae16;">Hello Advis, we've been waiting for you</h1>
        <h2 style="color: black;">Create masterplan based on your history</h2>
    </div>

    <div class="container justify-content-center" style="margin-top: 20vh; margin-bottom: 10vh;">
        <form method="POST"> {% csrf_token %}
            {{ form|crispy }}
            <h5 style="margin-top: 2rem;">* = Wajib Diisi</h5>
            <input style="margin-top: 2rem;" class="btn btn-primary" type="submit" value="Save" />
            <a type="button" class="btn btn-primary" href="hasil/" style="margin-top: 2rem; margin-left: 2rem;">Lihat Data</a>
            <a type="button" class="btn btn-success" href="../" style="margin-top: 2rem; margin-left: 2rem;">Home</a>
        </form>
    </div>


</body>
</html>