<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div class="container" style="margin-top: 30vh;">
        <h1 style="color: #f5ae16;">Hello Advis, we've been waiting for you</h1>
        <h2 style="color: black;">Data Mata Kuliah Yang Tersimpan :</h2>
        <a type="button" class="btn btn-success" href="../../" style="margin-top: 2rem; margin-left: 2rem;">Home</a>
        <a type="button" class="btn btn-primary" href="../" style="margin-top: 2rem;">Tambah Data</a>
    </div>

    <div class="table-responsive container" style="margin-top: 3rem;">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" class="text-center">Nama Mata Kuliah</th>
                <th scope="col" class="text-center">Nama Dosen</th>
                <th scope="col" class="text-center">Deskripsi</th>
                <th scope="col" class="text-center">Semester</th>
                <th scope="col" class="text-center">Ruang</th>
                <th scope="col" class="text-center">Jumlah SKS</th>
              </tr>
            </thead>
            {% for instance in object_list %}
            <tr>
                <td><a href="/matakuliah/hasil/{{ instance.id }}">{{ instance.Nama_Mata_Kuliah }}</a></td>
                <td>{{ instance.Dosen_Pengajar }}</td>
                <td>{{ instance.Deskripsi }}</td>
                <td>{{ instance.Semester }}</td>
                <td>{{ instance.Ruang }}</td>
                <td>{{ instance.Jumlah_SKS }}</td>
            </tr>
            {% endfor %}



</body>
</html>