<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div class="container" style="margin-top: 20vh;">
        <h2 style="color: #f5ae16;">Detail Mata Kuliah</h2>
    </div>

    <div class="container" style="margin-top: 10vh;">
        <h6> Nama Mata Kuliah :</h6>
        <p style="margin-left: 2rem;">{{ object.Nama_Mata_Kuliah }}</p>
        <h6> Dosen Pengajar : </h6>
        <p style="margin-left: 2rem;">{{ object.Dosen_Pengajar }}</p>
        <h6> Deskripsi : </h6>
        <p style="margin-left: 2rem;">{{ object.Deskripsi }} {% for instance in tugas %} {% if instance.matakuliah.Nama_Mata_Kuliah == object.Nama_Mata_Kuliah %} {{ instance.Nama_Tugas }} Deadline = {{ instance.Deadline }} {% endif %} {% endfor %}</p>
        <h6> Semester : </h6>
        <p style="margin-left: 2rem;">{{ object.Semester }}</p>
        <h6> Ruang : </h6>
        <p style="margin-left: 2rem;">{{ object.Ruang }}</p>
        <h6> Jumlah SKS : </h6>
        <p style="margin-left: 2rem;">{{ object.Jumlah_SKS }}</p>
    </div>

    <div class="container" style="margin-bottom: 2rem;">
    <a type="button" class="btn btn-danger" href="delete">Hapus</a>
    <a type="button" class="btn btn-primary" href="../">Kembali</a>
    </div>

</body>
</html>