<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portofolio</title>
</head>
<body>
    {% include 'contoh_navigasi_bersama.html' %}

    <h1>Hi kak Ghifar</h1>
    <h1>Navbar diatas menggunakan method include dari "/template"</h1>
</body>
</html>