<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World :D</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Story3.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>



<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
        <a class="navbar-brand" href="/" style="color: #0EBFAA; margin-left: 1rem;">My CuricullumVitae</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" style="margin-right: 2rem;">
              <a class="nav-link" href="{% url 'homepage:story1' %}">Story 1</a>
            </li>
            <li class="nav-item" style="margin-right: 2rem;">
              <a class="nav-link" href="#about">About Me</a>
            </li>
            <li class="nav-item" style="margin-right: 2rem;">
              <a class="nav-link" href="#contact">Contact</a>
            </li>    
          </ul>
        </div>  
    </nav>

    {% block content %}
    {% endblock %}

</body>
<script src="{% static 'scroll-up.js' %}"></script>

</html>