<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World :D</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Story3.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>



<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">^</button>


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
        <a class="navbar-brand" href="" style="color: #0EBFAA; margin-left: 1rem;">My CuricullumVitae</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" style="margin-right: 2rem;">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                 href="#" role="button" aria-haspopup="true" aria-expanded="false">
                 Progress Story</a>
              <div class="dropdown-menu">
                <h6 class="dropdown-header" style="color: #0EBFAA;">Story 5 & Story 6</h6>
                <a class="dropdown-item" href="/matakuliah">Mata Kuliah</a>
                <a class="dropdown-item" href="/kegiatan">Kegiatan</a>
              </div>
            </li>
            <li class="nav-item" style="margin-right: 2rem;">
              <a class="nav-link" href="{% url 'homepage:story1' %}">Story 1</a>
            </li>
            <li class="nav-item" style="margin-right: 2rem;">
              <a class="nav-link" href="#about">About Me</a>
            </li>
            <li class="nav-item" style="margin-right: 2rem;">
              <a class="nav-link" href="#contact">Contact</a>
            </li>    
          </ul>
        </div>  
    </nav>


    <div class="text-center">
        <h1 style="margin-top: 40vh; margin-bottom: 35vh; font-style: italic;"><span style="color: #0EBFAA">Hola.</span><span style="color: #75D752;"> Hej.</span> Hi.</h1>
    </div>


    <div class="container">
        <div class="row" style="margin-top: 6rem;">
            <div class="col-md-6">
                <h1 style="margin-top: 2rem;">Hello There !</h1>
                <h4 style="margin-top: 4rem;">Welcome to my web, i hope that we can know each other and become a good friend :D</h4>
                <div class="container" style="margin-top: 3rem;">
                    <div class="row">
                      <div class="col-xs-4 col-sm-6 col-md-6" style="background-color: #0EBFAA;">
                        <h6 class="text-center">#CheerfulBoy</h6>
                      </div>
                      <div class="col-xs-4 col-sm-6 col-md-6" style="background-color: #75D752;">
                        <h6 class="text-center">#EntryProgrammer</h6>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="container">
                    <img class="img-fluid" src="{% static 'me.jpg' %}" alt="#" style="margin-top: 2rem;">
                </div>
            </div>
        </div>
    </div>


    <div class="container"  id="about">
        <h3 class="text-center" style="margin-top: 4rem; color: #0EBFAA;">My Activity</h3>
    </div>


    <div class="container" style="margin-top: 3rem;">
        <div class="row">
            <div class="col-md-4">
                <div class="container" style="margin-top: 2rem;">
                    <div class="card">
                      <img class="card-img-top" src="{% static 'study.png' %}" alt="Card image" style="width:100%">
                      <div class="card-body">
                        <h4 class="card-title text-center">Study</h4>
                        <p class="card-text">I love studying science about physics, math, and astronomy</p>
                      </div>
                    </div>
                </div>
            </div>    
            <div class="col-md-4"> 
                <div class="container" style="margin-top: 2rem;">
                    <div class="card">
                      <img class="card-img-top" src="{% static 'design.png' %}" alt="Card image" style="width:100%">
                      <div class="card-body">
                        <h4 class="card-title text-center">Design</h4>
                        <p class="card-text">Graphic Design is my passion and my activity when i have spare time.</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"> 
                <div class="container" style="margin-top: 2rem;">
                    <div class="card">
                      <img class="card-img-top" src="{% static 'coding.png' %}" alt="Card image" style="width:100%">
                      <div class="card-body">
                        <h4 class="card-title text-center">Coding</h4>
                        <p class="card-text">Interested at software engineering, currently mastering java, python, and webdev</p>
                      </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>


    <div class="container">
        <h2 class="text-center" style="margin-top: 4rem; color: #75D752;"><span style="color: #0EBFAA">My Formal</span> Education</h2>
    </div>


    <div class="container" style="margin-top: 3rem;">
        <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="container" style="margin-top: 2rem;">
                        <div class="card">
                          <img class="card-img-top" src="{% static 'smp.jfif' %}" alt="Card image" style="width:100%;">
                          <div class="card-body">
                            <h4 class="card-title text-center">Elementary</h4>
                            <p class="card-text text-center">SDN 03 Wijaya Kusuma</p>
                          </div>
                        </div>
                    </div>
                </div>    
                <div class="col-lg-3 col-md-6"> 
                    <div class="container" style="margin-top: 2rem;">
                        <div class="card">
                          <img class="card-img-top" src="{% static 'sd.jfif' %}" alt="Card image" style="width:100%;">
                          <div class="card-body">
                            <h4 class="card-title text-center">Junior High School</h4>
                            <p class="card-text text-center">SMPN 82 JKT</p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6"> 
                    <div class="container" style="margin-top: 2rem;">
                        <div class="card">
                          <img class="card-img-top" src="{% static 'sma.jpg' %}" alt="Card image" style="width:100%;">
                          <div class="card-body">
                            <h4 class="card-title text-center">Senior High School</h4>
                            <p class="card-text text-center">SMAN 29 JKT</p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6"> 
                    <div class="container" style="margin-top: 2rem;">
                        <div class="card">
                          <img class="card-img-top" src="{% static 'uai.jpg' %}" alt="Card image" style="width:100%;">
                          <div class="card-body">
                            <h4 class="card-title text-center">Universitas Indonesia</h4>
                            <p class="card-text text-center">Computer Science</p>
                          </div>
                        </div>
                    </div>
                </div>     
            </div>
        </div>

    
    <div class="container">
        <h2 class="text-center" style="margin-top: 4rem; color: #0EBFAA;"><span style="color: #75D752">Few Things</span> About Me.</h2>
    </div>

    <div class="container" style="margin-top: 4rem;">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="container">
                    <img class="img-fluid" src="{% static 'me2.png' %}" alt="#">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <h4 style="color: #0EBFAA; margin-top: 2rem;">
                    Simple
                </h4>
                    <h5>I am a guy who strive for simplicity</h5>
                <h4 style="color: #0EBFAA; margin-top: 3rem;">
                    Work Hard - Play Hard
                </h4>
                    <h5>Easily work under pressure and adaptive to others</h5>
                <h4 style="color: #0EBFAA; margin-top: 2rem;">
                    Dicipline
                </h4>
                    <h5>i appreciate punctuary and commitment</h5>
            </div>
        </div>
    </div>

    <div class="container text-center" style="margin-top: 20rem;" id="contact">
        <h2>Get In Touch With Me !</h2>
        <h4 style="margin-top: 4rem;">+62 (81233110190)</h4>
        <h4>Griya BNI Simprug</h4>
        <h4>211 Code 12220</h4>
        <h4 style="margin-top: 3rem;">advis.tasyah@ui.ac.id</h4>
    </div>

    <hr align="center" width="50%">

    <div class="sosmed" style="margin-left: 30vw; margin-top: 5rem; margin-bottom: 4rem;">
        <a href="https://www.linkedin.com/in/advis-tasyah-mulia-5209791a1"><img class="img-fluid" src="{% static 'linkedin.png' %}" alt="" style="max-width: 10%; margin-right: 2vh;"></a>
        <a href="https://twitter.com/Vice_T_M"><img src="{% static 'twitter.png' %}" class="img-fluid" alt="" style="max-width: 10%; margin-right: 2vh;"></a>
        <a href="http://line.me/ti/p/~advis82"><img src="{% static 'line.png' %}" class="img-fluid" alt="" style="max-width: 10%; margin-right: 2vh;"></a>
        <a href="https://api.whatsapp.com/send?phone=6281233110190"><img src="{% static 'whatsap.png' %}" class="img-fluid" alt="" style="max-width: 10%; margin-right: 2vh;"></a>
        <a href="https://www.instagram.com/advis_tm/"><img src="{% static 'instagram.png' %}" class="img-fluid" alt="" style="max-width: 10%; margin-right: 2vh;"></a>
    </div>


    <!-- Button trigger modal -->
    <div class="container d-flex justify-content-center">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modalchallange">
        See Another Photo
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="Modalchallange" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">My Gallery</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <!--Disini taro carousel-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="{% static 'carousel1.jpg' %}" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'carousel2.jpg' %}" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static 'me2.png' %}" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <!--End of Carousel-->

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div class="container" style="margin-top: 8rem; margin-bottom: 4rem;">
      <a class="btn btn-dark" href="{% url 'homepage:home2' %}">More...</a>
    </div>


</body>
<script src="{% static 'scroll-up.js' %}"></script>

</html>