<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portofolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Story1.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <h1 style="margin-left: 5%;">My Curiculum Vitae</h1>
    </header>
    <div class="Under_Header"></div>
    <center><img src="{% static 'psaf.jpg' %}" alt="" class="image_header"></center>
    <div>
        <div class="desc">
        <h2>Deskripsi Singkat : </h2>
        <p class="deskripsi" align="justify">I am a big fan of good life.
            Saya mencintai dan ingin
            menciptakan kemudahan
            dengan usaha yang lebih
            simpel. Saya ingin menjadi seseorang yang memiliki dampak baik
            terhadap lingkungan saya. Sekarang saya ingin memiliki teman yang baik dan 
            ingin mencapai beberapa target saya kedepan.</p>
        </div>            
        <div class="row">
            <div class="column">
            <img src="{% static 'me.jpg' %}" alt="" class="image_biodata">
            </div>
            <div class="column1">
            <h2>Biodata Saya</h2>    
            <table  class="biodata">
                <tr>
                    <td>Nama</td>
                    <td>: Advis Tasyah Mulia</td>
                </tr>
                <tr>
                    <td>NPM</td>
                    <td>: 1906350673</td>
                </tr>
                <tr>
                    <td>Angkatan</td>
                    <td>: 2019</td>
                </tr>
                <tr>
                    <td>Jurusan</td>
                    <td>: Ilmu Komputer</td>
                </tr>
                <tr>
                    <td>Universitas &nbsp;</td>
                    <td>: Universitas Indonesia</td>
                </tr>
                <tr>
                    <td>Hobi</td>
                    <td>: Futsal, Coding, Film</td>
                </tr>
            </table>
            </div>
        </div>
        <div class="column2">
            <h2>Pendidikan Formal</h2>
            <table class="pendidikan">
                <tr>
                    <td>Universitas Indonesia</td>
                    <td>: 2019 - Sekarang</td>
                </tr>
                <tr>
                    <td>Institut Teknologi Bandung</td>
                    <td>: 2018 - 2019</td>
                </tr>
                <tr>
                    <td>SMA Negeri 29 Jakarta</td>
                    <td>: 2015 - 2018</td>
                </tr>
                <tr>
                    <td>SMP Negeri 82 Jakarta</td>
                    <td>: 2012 - 2015</td>
                </tr>
                <tr>
                    <td>SD Negeri 03 Wijaya Kusuma</td>
                    <td>: 2011 - 2012</td>
                </tr>
                <tr>
                    <td>SDN Karet Tengsin 13 Pagi</td>
                    <td>: 2006 - 2011</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="sosmed">
                <a href="https://twitter.com/Vice_T_M"><img src="{% static 'twitter.png' %}" alt=""></a>
                <a href="http://line.me/ti/p/~advis82"><img src="{% static 'line.png' %}" alt=""></a>
                <a href="https://api.whatsapp.com/send?phone=6281233110190"><img src="{% static 'whatsap.png' %}" alt=""></a>
                <a href="https://www.instagram.com/advis_tm/"><img src="{% static 'instagram.png' %}" alt=""></a>
    </div>

    <div class="container d-flex justify-content-center" style="margin-top: 8rem; margin-bottom: 4rem;">
        <a class="btn btn-dark" href="{% url 'homepage:home' %}">Back to Home</a>
    </div>

    <footer style="background-color: #50d890;">
        <center>
        <p style="padding-top: 7px; font-size: 18px;">Email : advis.tasyah@ui.ac.id</p>
        </center>
    </footer>
</body>
</html>