body{
    margin: 0px;
    margin-bottom: 0px;
    background-color: white;
}

header {
    background: #50d890;
    height: 100px;
}

.Under_Header{
    background: #4f98ca;
    height: 25px;
}

h1{
    color: white;
    font-family: Verdana;
    margin: 0px;
    padding-top: 25px;
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding-top: 25px;
}

.pendidikan{
    font-family: Calibri;
    font-size: 18px;
}

.biodata{
    font-family: Calibri;
    font-size: 18px;
}

.deskripsi{
    font-family: calibri;
    font-size: 22px;
    margin-right: 70px;
    margin-left: 70px;
}

.desc{
    text-align: center;
    display: inline-block;
}


.image_header {
    margin-top: 50px;
    width: 65%;
    height: 65%;
    max-width: 100%;
    height: auto;
  }

  .image_biodata{
    margin-top: 25px;
    margin-left: 40%;
    width: 40%;
    height: 40%;
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
  }

  footer{
    height: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }

  .column1{
      margin-left: 30%;
  }

  .column1 .biodata{
      margin-left: 5%;
  }

  .column2{
      margin-left: 15%;
      margin-bottom: 50px;
  }

  .column2 .pendidikan{
      margin-left: 5%;
  }

  .sosmed{
      margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }

  .sosmed img{
    width: 25px;
    margin: 10px; 
  }




